<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{}"/>-->
</head>
<body>
<div th:insert="header :: header"></div>

<div class="container" style="margin-top: 100px">
    <div class="card">
        <input type="text" class="card-header" th:value="${book.getTitle()}" readonly/>
        <div class="card-body">
            <div class="form-group">
                <label for="author">Autheur</label>
                <input type="text" class="form-control" id="author" th:value="${book.getAuthor()}" readonly>
            </div>

            <div class="form-row">
                <table class="table-bordered table">
                    <thead>
                    <tr>
                        <th>Bibliothèque</th>
                        <th>Nombre disponible</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="copy: ${copies}">
                        <td><span th:text="${copy.getLibrairy().getName()}">Bibliothèque</span></td>
                        <td><span th:text="${copy.getNbExemplaireDispo()}">Nombre disponible</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>