<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{}"/>-->
</head>
<body>
<div th:insert="header :: header"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue</h1>
        <p class="lead">Vous pourrez ici retrouver la liste des ouvrages présents dans les différentes bibliothèques de
            notre belle ville de Lyon.</p>
        <hr class="my-4">
        <p>Pour consulter vos emprunts ou les prolonger, merci de vous connectez.</p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>