<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="header :: header"></div>

<h1>List Librairy</h1>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Adresse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${librairies.empty}">
        <td colspan="3">Aucune librairie d'enregistrée</td>
    </tr>
    <tr th:each="librairy: ${librairies}">
        <td><span th:text="${librairy.getName()}">Nom</span></td>
        <td><span th:text="${librairy.getAdresse()}">Adresse</span> </td>
        <td><a th:href="">Consulter</a> </td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>