<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="header :: header"></div>

<h1>List Lending</h1>

<table>
    <thead>
    <tr>
        <th>Utilisateur</th>
        <th>Début</th>
        <th>Fin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${lendings.empty}">
        <td colspan="3">Aucun prêt enregistré</td>
    </tr>
    <tr th:each="lendings: ${lending}">
        <td><span th:text="${lending.getUtilisateur().getPseudo()}">Utilisateur :</span></td>
        <td><span th:text="${lending.getStart()}">Début :</span></td>
        <td><span th:text="${lending.getEnd()}">Fin :</span></td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>