<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{}"/>-->
</head>
<body>
<div th:insert="header :: header"></div>

<h1>List Livres</h1>

<table>
    <thead>
    <tr>
        <th>Titre</th>
        <th>Autheur</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="3">Aucun livre enregistré</td>
    </tr>
    <tr th:each="book: ${books}">
        <td><span th:text="${book.getTitle()}">Titre</span></td>
        <td><span th:text="${book.getAuthor()}">Autheur</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>