<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <h1 class="card-header">Inscripton</h1>
                <div class="card-body">
                    <form th:action="@{/user}" th:object="${user}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="mail">Email</label>
                                <input type="text" class="form-control" id="mail" placeholder="Email"
                                       th:field="*{mail}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="mdp">Mot de Passe</label>
                                <input type="password" class="form-control" id="mdp" placeholder="Passeword"
                                       th:field="*{mdp}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="prenom">Prénom</label>
                                <input type="text" class="form-control" id="prenom" placeholder="Prénom"
                                       th:field="*{firstName}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom"
                                       th:field="*{lastName}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="pseudo">Pseudo</label>
                                <input type="text" class="form-control" id="pseudo" placeholder="Pseudo"
                                       th:field="*{pseudo}">
                            </div>

                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-dark">Inscription</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header">Connexion</h1>
                <div class="card-body">
                    <form th:action="@{/authenticate}" th:object="${request}" method="post">
                        <div class="form-group">
                            <label for="pseudoCo">Pseudo</label>
                            <input type="text" class="form-control" id="pseudoCo" placeholder="Pseudo"
                                   th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <label for="mdpCo">Mot de Passe</label>
                            <input type="text" class="form-control" id="mdpCo" placeholder="Password"
                                   th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-dark">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>