<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librairy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="header :: header"></div>

<h1>Inscription</h1>

<form th:action="@{/user}" th:object="${user}" method="POST">
    Pseudo:
    <input type="text" th:field="*{pseudo}"/>
    <br/>
    Mot de Passe:
    <input type="text" th:field="*{mdp}"/>
    <br/>
    Prénom:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Nom:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    Mail:
    <input type="text" th:field="*{mail}"/>
    <br/>
    <input type="submit" value="Inscription"/>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>